body {
  padding: 0;
  margin: 0;
  background: #4c4cff;
}

img {
width: 100%;
object-fit: cover;
}

/*--- navigation bar ---*/

.navbar {
  background:#2e2f3d;
}

.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}

.nav-link {
  margin-right: 1em !important;
}

.nav-link:hover {
  color: #000;
}

.navbar-collapse {
  justify-content: flex-end;
}

.col {
    background-color: #4c4caa;
}

.col-6 {
    background-color: #000;
}
