body {
  padding: 0;
  margin: 0;
  background: #4c4cff;
}

img {
width: 100%;
object-fit: cover;
}

/*--- navigation bar ---*/

.navbar {
  background:#2e2f3d;
}

.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}
.navbar-collapse {
  max-height: 280px;
  overflow-y: auto;
}

.nav-link {
  margin-left: 1em !important;
}

.nav-link:hover {
  color: #000;
}


.col {
    background-color: #4c4caa;
}

.col-6 {
    background-color: #000;
}
