<html>
    <head>
        <title>Solution</title>
    </head>
<body>

<h1>Solution:</h1>
<br/>

{% if r1 == a1 %}
    <em style="color: green; font-size: 1em;">{{ r1 }}</em>
{% else %}
    <em style="color: red; font-size: 1em;">{{ r1 }}</em>

{% endif %}
<br/>

{% if r2 == a2 %}
    <em style="color: green; font-size: 1em;">{{ r2 }}</em>
{% else %}
    <em style="color: red; font-size: 1em;">{{ r1 }}</em>

{% endif %}
<br/>


{% if r3 == a3 %}
    <em style="color: green; font-size: 1em;">{{ r3 }}</em>
{% else %}
    <em style="color: red; font-size: 1em;">{{ r3 }}</em>

{% endif %}
<br/>


{% if r4 == a4 %}
    <em style="color: green; font-size: 1em;">{{ r4 }}</em>
} else {
    <em style="color: red; font-size: 1em;">{{ r4 }}</em>

{% endif %}
<br/>


{% if r5 == a5 %}
    <em style="color: green; font-size: 1em;">{{ r5 }}</em>
{% else %}
    <em style="color: red; font-size: 1em;">{{ r5 }}</em>

{% endif %}
<br/>


{% if r6 == a6 %}
    <em style="color: green; font-size: 1em;">{{ r6 }}</em>
{% else %}
    <em style="color: red; font-size: 1em;">{{ r6 }}</em>

{% endif %}
<br/>


{% if r7 == a7 %}
    <em style="color: green; font-size: 1em;">{{ r7 }}</em>
{% else %}
    <em style="color: red; font-size: 1em;">{{ r7 }}</em>

{% endif %}
<br/>


{% if r8 == a8 %}
    <em style="color: green; font-size: 1em;">{{ r8 }}</em>
{% else %}
    <em style="color: red; font-size: 1em;">{{ r8 }}</em>

{% endif %}
<br/>


{% if r9 == a9 %}
    <em style="color: green; font-size: 1em;">{{ r9 }}</em>
{% else %}
    <em style="color: red; font-size: 1em;">{{ r9 }}</em>

{% endif %}
<br/>


{% if r10 == a10 %}
    <em style="color: green; font-size: 1em;">{{ r10 }}</em>
{% else %}
    <em style="color: red; font-size: 1em;">{{ r10 }}</em>

{% endif %}
<br/>



</body>
</html>
