<html>
    <head>
        <title>Home</title>
    </head>
{% extends "bootstrap.html" %}

{% block content %}
<body>
<div class="container">
      <div class="d-flex justify-content-center">
      <img class="img2" src="/static/basmala4.jpg"></div>
      <br>
      <div
      <h1 class="display-4">
      <p style="text-align:left;">
        Maktaba al-hakam
      <span style="float:right;">
        مكتبة الحكم
      </span>
      <br>
      </p>
      </h1>
    </div>
    <br>
    <br>
    <br>
      <span style="float:right;">
        السلام و عليكم
      </span>
      <br>
      May the Peace of God and his blessings be with you, dear visitor, and make your study hours productive.
      Welcome to maktaba al-hakam (مكتبة الحكم), a virtual place that lacks of books, but is full of knowledge. Our intention is to make the learning of the arabic conjugation easier. The conjugation is the core of the Arabic language, and one of the most beautiful parts of it’s grammar. It is difficult, indeed, to master it’s complexity, to reach the highest level of precision and beauty.
      The most common way of learning is repeating. Repetition can be seen as a tedious task, but I have not known any other effective method. Repetition, repetition, repetition. During your day, walking, when you wake up, when you go to sleep, ad until you write them into your heart.
      The idea of this page came up to my mind after spending hours studying languages. I usually took a pen and simply wrote down a list of words and repeated it until I had memorised it. But checking my answers was time consuming and not error-proof, so I decided to make it automatic. In this way I could check my answers with just a click, and I avoided minor errors that undermined my study.
      <br>
      <h1 class="display-4">How to use</h1>
      <br>
      <h1 class="display-4">Who was Alhakam II?</h1>
      <br>
    </div>
</body>



{%endblock%}
