<html>
    <head>
        <title>Sample Web Form</title>
    </head>
<body>

<h1>Fill Out This Form</h1>
<form action="/quiz" method="POST">
    <br/>
    <input type="text" name="r1">  أنا
    <br/>
    <input type="text" name="r2">  أنتَ
    <br/>
    <input type="text" name="r3">  أنتِ
    <br/>
    <input type="text" name="r4">  هو
    <br/>
    <input type="text" name="r5">  هي
    <br/>
    <input type="text" name="r6">  نحن
    <br/>
    <input type="text" name="r7">  أنتم
    <br/>
    <input type="text" name="r8">  أنتن
    <br/>
    <input type="text" name="r9">  هم
    <br/>
    <input type="text" name="r10">  هن
    <br/>

    <input type="submit">
</form>

</body>
</html>
